/////////////////// noticias
.nav-tabs--jovem > li.active {
  > a, > a:hover, > a:focus {
    background-color: @color-jovem-primary--light;
    border: none;
  }
}
.tab-content--jovem {
  height: 396px;
}
.nav-tabs--jovem {
  border-bottom: none;
  > li{
    margin-bottom: -2px;
    a {
      padding: 10px 10px;
    }
    a:hover{
      background-color: @color-jovem-primary--light;
      border: 1px solid @color-jovem-primary--light;
    }
  }
}
.box-colors {
    border-bottom: 5px solid;
    width: 100%;
    > ul > li {
      margin-bottom: 5px;
    }
}
.box-colors--header {
    border-bottom: 5px solid;
    margin-top: 0;
    margin-bottom: 10px;
    span {
      padding: 0.3em;
      color: #fff;
    }
}
/////////////// media queries
@media (min-width: @screen-sm-min)and(max-width: @screen-md-max) {
.box-colors--header {letter-spacing: -1px;}
}