.container
  .row
    .col-md-12
      h4.header4-jovemsendor Apoiadores
      ul.list-unstyled.list-inline
        li
          a(href="http://www.marinha.mil.br/" target="_blank" title="Marinha Brasileira")
            img(src="img/brands/marinha.png" alt="Marinha Brasileira")
        li
          a(href="http://www.eb.mil.br/" target="_blank" title="Exército Brasileiro")
            img(src="img/brands/exercito.png" alt="Exército Brasileiro")
        li
          a(href="http://www.fab.mil.br/" target="_blank" title="Força Aérea Brasileira - FAB")
            img(src="img/brands/fab.png" alt="Força Aérea Brasileira - FAB")
        li
          a(href="http://www.cinemark.com.br/" target="_blank" title="Cinemark")
            img(src="img/brands/cinemark.png" title="Cinemark")
        li
          a(href="http://www12.senado.gov.br/institucional/estrutura/orgaosenado?codorgao=1377" title="Instituto Legislativo Brasileiro - ILB" target="_blank")
            img(src="img/brands/ilb.png" alt="Instituto Legislativo Brasileiro - ILB")
        li
          a(href="http://www.ebc.com.br/" target="_blank" title="Empresa Brasil de Comunicação S/A - EBC")
            img(src="img/brands/ebc.png" alt="Empresa Brasil de Comunicação S/A - EBC")
        li
          a(href="http://sindilegis.org.br/" target="_blank" title="Sindicato dos Servidores do Poder Legislativo Federal e Tribunal de Contas da União - Sindilegis")
            img(src="img/brands/sindilegis.png" alt="Sindicato dos Servidores do Poder Legislativo Federal e Tribunal de Contas da União - Sindilegis")
        li
          a(href="http://www.assefe.com.br/" target="_blank" title="Associação dos Servidores do Senado Federal - ASSEFE")
            img(src="img/brands/assefe.png" alt="Associação dos Servidores do Senado Federal - ASSEFE")

    .col-md-4
      h4.header4-jovemsendor Parceiros
      ul.list-unstyled.list-inline
        li
          a(href="http://www.consed.org.br/" target="_blank" title="Conselho Nacional de Secretários de Educação - CONSED")
            img(src="img/brands/consed.png" alt="Conselho Nacional de Secretários de Educação - CONSED")
        li
          a(href="http://www.mec.gov.br/" target="_blank" title="Ministério da Educação - MEC")
            img(src="img/brands/mec.png" alt="Ministério da Educação - MEC")

    .col-md-8
      h4.header4-jovemsendor Realização
      ul.list-unstyled.list-inline
        li
          a(href="http://www.senado.gov.br" title="Senado Federal")
            img(src="img/brands/senadofederal.png" alt="Senado Federal")