.carousel-jovem.u-spacer--xxl
  ul.pgwSlideshow
    li
      img(src='img/slide.jpg', alt='Nome da foto 1') 
    li
      img(src='img/slide2.jpg', alt='Nome da foto 2')
    li
      img(src='img/slide3.jpg', alt='Nome da foto 3')
    li
      img(src='img/slide4.jpg', alt='Nome da foto 4')
    li
      a(href='http://en.wikipedia.org/wiki/Monaco', target='_blank')
      img(src='img/slide.jpg', alt='Nome da foto 12')

