.container.u-spacer--xxl
  .componentes
    .row
      .col-md-12.col-lg-4.u-spacer--xxl
        .box-colors--header(class="+border-jovem-light").gamma Calendário 2015
        .calendario
          .nano
            .nano-content 
              ul.list-unstyled
                li
                  a(href="#")
                    span.calendario-liststyle 21 Ago 2015
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
                li
                  a(href="#")
                    span.calendario-liststyle 21 Ago 2015
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                li
                  a(href="#")
                    span.calendario-liststyle 21 Ago 2015
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                li
                  a(href="#")
                    span.calendario-liststyle 21 Ago 2015
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                li
                  a(href="#")
                    span.calendario-liststyle 21 Ago 2015
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                li
                  a(href="#")
                    span.calendario-liststyle 21 Ago 2015
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                li
                  a(href="#")
                    span.calendario-liststyle 21 Ago 2015
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                li
                  a(href="#")
                    span.calendario-liststyle 21 Ago 2015
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      .col-md-12.col-lg-4.u-spacer--xxl
        .box-colors--header(class="+border-jovem-light").gamma Escolas Participantes
        .col-md-12
          .row
            .col-md-12.col-lg-3.zeta
              | Mapa das Escolas
              br
              | Participantes
            .col-md-12.col-lg-9.mapa-content
              include mapa_brasil_svg

      .col-md-12.col-lg-4.u-spacer--xxl
        .box-colors--header.gamma(class="+border-jovem-danger") 
          span(class="+background-jovem-danger") Vídeos
          a(href="#" data-toggle="tooltip" data-placement="top" title="Veja mais").pull-right
            strong +
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src='https://www.youtube.com/embed/du5Ib_qPnGQ', frameborder='0', allowfullscreen='')