.container
  .componentes
    .row
      .col-md-4
        | a
      .col-md-4
        | b
      .col-md-4
        .box-colors--header(class="+border-jovem-video") 
          span.gamma(class="+background-jovem-video") Vídeos
          a(href="#" data-toggle="tooltip" data-placement="top" title="Veja mais").pull-right
            strong +