.footer-jovem
  .container
    .row
      .col-md-3
        ul.list-unstyled
          li
            a(href="#").footer-title
              strong Quem somos
          li
            a(href="#") Apresentação
          li 
            a(href="#") Equipe no Senado
          li
            a(href="#") Coordenadores estaduais/DF
          li
            a(href="#") Conselho de senadores
          li
            a(href="#") JS em números
          li
            a(href="#") Linha do tempo
      .col-md-3
        ul.list-unstyled
          li
            a(href="#").footer-title
              strong Como participar
          li
            a(href="#") Regulamento
          li
            a(href="#") Kit da escola
          li
            a(href="#") Colendário 2015
          li
            a(href="#") Inscrição
          li
            a(href="#") Premiação
      .col-md-3
        ul.list-unstyled
          li
            a(href="#").footer-title
              strong Sobre a Redação
          li
            a(href="#") Informações gerais
          li
            a(href="#") Critérios de avaliação
          li
            a(href="#") Dicas de português
          li
            a(href="#") Navegando no tema
      .col-md-3
        ul.list-unstyled
          li
            a(href="#").footer-title
              strong Vencedores
          li
            a(href="#") Jovens senadores
          li
            a(href="#") Alunos finalistas
          li
            a(href="#") Redações finalistas
          li
            a(href="#") Depoimentos
    .row
      .col-md-3
        ul.list-unstyled
          li
            a(href="#").footer-title
              strong Divulgação
          li
            a(href="#") Releases
          li
            a(href="#") Somos notícia
          li
            a(href="#") Fotos
      .col-md-3
        ul.list-unstyled
          li
            a(href="#").footer-title
              strong Professores
          li
            a(href="#") Os professores orientadores
          li
            a(href="#") Cursos on-line
          li
            a(href="#") Na sala de aula
          li
            a(href="#") Depoimentos
      .col-md-3
        ul.list-unstyled
          li
            a(href="#").footer-title
              strong Atividade Legislativa
          li
            a(href="#") Mesas diretoras jovens
          li
            a(href="#") Propostas dos jovens senadores
          li
            a(href="#") Como são feitas as leis
          li
            a(href="#") Depoimentos
      .col-md-3
        img(src="img/logo-footer.png" alt="Jovem Senador")
.FooterMain-endereco
    | Senado Federal -
    | Praça dos Três Poderes - Brasília DF - CEP 70165-900
    | | Telefone: 0800 61 22 11