.container
  .nav-jovemsenador.bread-crumb--jovem
    .navbar-header
      .row
        ol.breadcrumb
          li
            a(href='#') Home
          li
            a(href='#') Library
          li.active Data
.perfil-jovem
  .container
    .row
      .col-md-12
        h2 Mariana Souto Pimenta
      .col-md-2
        img.img-responsive(src="img/perfil/mini2.jpeg" alt="Foto Perfil")
      .col-md-10
        ul.list-unstyled
          li 
            strong Gênero: 
            |  Feminino
          li
            strong Ano de participação:
            |  2015
          li
            strong Colocação no concurso:
            |  1º colocada nacional 
          li
            strong Cidade:
            |  Passos - MG
          li
            strong Data de Nascimento:
            |  07/04/1999
          li
            strong Escola:
            |  Escola Estadual Dulce Ferreira de Souza
.container
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
            | Collapsible Group Item #1
          i.indicator.glyphicon.glyphicon-chevron-down.pull-right
      #collapseOne.panel-collapse.collapse.in
        .panel-body
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
            | Collapsible Group Item #2
          i.indicator.glyphicon.glyphicon-chevron-up.pull-right
      #collapseTwo.panel-collapse.collapse.in
        .panel-body
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
            | Collapsible Group Item #3
          i.indicator.glyphicon.glyphicon-chevron-up.pull-right
      #collapseThree.panel-collapse.collapse.in
        .panel-body
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
