.container
    .row
        .col-md-6.col-lg-4.u-spacer--xxl
          .Flag.Flag--top
            a(href="#")
              .Flag-figure
                img(src='img/thumb.png', alt='Galeria Jovem Senadores')
              .Flag-body
                strong Galeria Jovem Senadores
                br
                | Os vencedores do concurso de redação, em cada um dos estados e no Distrito Federal, participarão da 
        .col-md-6.col-lg-4.u-spacer--xxl
          .Flag.Flag--top
            a(href="#")
              .Flag-figure
                img(src='img/thumb.png', alt='Galeria Professores')
              .Flag-body
                strong Galeria Professores
                br
                | Os vencedores do concurso de redação, em cada um dos estados e no Distrito Federal, participarão da 
        .col-md-6.col-lg-4.u-spacer--xxl
          .Flag.Flag--top
            a(href="#")
              .Flag-figure
                img(src='img/thumb.png', alt='Cursos Online')
              .Flag-body
                strong Cursos Online
                br
                | Os vencedores do concurso de redação, em cada um dos estados e no Distrito Federal, participarão da 
        .col-md-6.col-lg-4.u-spacer--xxl
          .Flag.Flag--top
            a(href="#")
              .Flag-figure
                img(src='img/thumb.png', alt='Kit Escola')
              .Flag-body
                strong Kit Escola
                br
                | Os vencedores do concurso de redação, em cada um dos estados e no Distrito Federal, participarão da 
        .col-md-6.col-lg-4.u-spacer--xxl
          .Flag.Flag--top
            a(href="#")
              .Flag-figure
                img(src='img/thumb.png', alt='Redações Finalistas')
              .Flag-body
                strong Redações Finalistas
                br
                | Os vencedores do concurso de redação, em cada um dos estados e no Distrito Federal, participarão da 
        .col-md-6.col-lg-4.u-spacer--xxl
          .Flag.Flag--top
            a(href="#")
              .Flag-figure
                img(src='img/thumb.png', alt='Coordenadores Estaduais')
              .Flag-body
                strong Coordenadores Estaduais
                br
                | Os vencedores do concurso de redação, em cada um dos estados e no Distrito Federal, participarão da 