.topo
  .container.topo-controle
    h1.header1-jovemsenador.epsilon Esporte: Esducação e inclusão

    .share.pull-right
      .btn-group
        a.btn-share(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', title='Redes Sociais')
          span Redes Sociais 
          .pull-right
            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='40px', height='40px', viewbox='0.021 -0.792 38 39', enable-background='new 0.021 -0.792 38 39', xml:space='preserve')
              defs
              circle(fill='#5E7BBF', cx='18.667', cy='18.666', r='18.667')
              path(fill='#FFFFFF', d='M23.474,20.753c-0.762,0-1.453,0.306-1.955,0.801l-4.944-2.315c0.049-0.205,0.078-0.421,0.078-0.642\
              c0-0.054-0.007-0.105-0.011-0.157l5.104-2.46c0.475,0.375,1.075,0.601,1.728,0.601c1.544,0,2.793-1.25,2.793-2.792\
              c0-1.543-1.249-2.793-2.793-2.793c-1.543,0-2.793,1.25-2.793,2.793c0,0.152,0.017,0.299,0.039,0.444l-4.923,2.355\
              c-0.503-0.486-1.185-0.785-1.938-0.785c-1.544,0-2.793,1.25-2.793,2.794c0,1.541,1.249,2.792,2.793,2.792\
              c0.616,0,1.184-0.202,1.646-0.541l5.187,2.51c-0.005,0.063-0.011,0.125-0.011,0.188c0,1.543,1.25,2.794,2.793,2.794\
              c1.544,0,2.793-1.251,2.793-2.794S25.018,20.753,23.474,20.753z')

        ul.dropdown-menu.btn-share--right.btn-share--dropdown
          li
            a.btn-share--dropdown-link(href='#') 
              .control-icon
                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='24px', height='24px', viewbox='0 0 16 16', enable-background='new 0 0 16 16', xml:space='preserve')
                  defs
                  path.facebook(fill='#404040', d='M0,0v16h16V0H0z M11.583,8.636H9.458v5.906H6.646V8.636H4.74V6.151h1.875V4.823c0,0,0.125-3.094,3.125-3.281\
                  l1.82-0.008l-0.008,2.773H9.896c0,0-0.445,0.078-0.445,0.445s0,1.398,0,1.398h2.133V8.636z')

              .control-text
                | Facebook
          li
            a.btn-share--dropdown-link(href='#') 
              .control-icon
                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='24px', height='24px', viewbox='0 0 16 16', enable-background='new 0 0 16 16', xml:space='preserve')
                  defs
                  path.twitter(fill='#404040', d='M0,0v16h16V0H0z M13.074,5.206c0.006,0.113,0.008,0.227,0.008,0.34c0,3.472-2.633,7.478-7.449,7.478\
                  c-1.479,0-2.856-0.438-4.014-1.184c0.206,0.025,0.414,0.037,0.625,0.037c1.227,0,2.355-0.42,3.252-1.123\
                  C4.35,10.732,3.383,9.973,3.051,8.93c0.158,0.029,0.322,0.049,0.491,0.049c0.238,0,0.47-0.035,0.689-0.096\
                  c-1.197-0.24-2.1-1.302-2.1-2.576c0-0.011,0-0.022,0-0.033c0.354,0.198,0.757,0.315,1.186,0.329\
                  C2.614,6.131,2.152,5.328,2.152,4.416c0-0.481,0.131-0.933,0.355-1.321C3.799,4.686,5.728,5.73,7.905,5.84\
                  C7.859,5.646,7.836,5.446,7.836,5.242c0-1.45,1.173-2.627,2.618-2.627c0.753,0,1.435,0.319,1.911,0.829\
                  c0.596-0.118,1.156-0.335,1.664-0.638c-0.195,0.614-0.611,1.129-1.15,1.455c0.528-0.064,1.032-0.205,1.502-0.414\
                  C14.031,4.374,13.586,4.834,13.074,5.206z')
              .control-text
                | Twitter
          li
            a.btn-share--dropdown-link(href='#')
              .control-icon 
                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='24px', height='24px', viewbox='0 0 16 16', enable-background='new 0 0 16 16', xml:space='preserve')
                  defs
                  path.instagram(fill='#404040', d='M0,0v16h16V0H0z M6.524,2.62c0-0.543,0.44-0.985,0.983-0.985h0.984c0.543,0,0.985,0.442,0.985,0.985v0.985\
                  c0,0.543-0.441,0.983-0.985,0.983H7.507c-0.543,0-0.983-0.44-0.983-0.983V2.62z M8,5.573c1.813,0,1.969,1.969,1.969,1.969\
                  S10.027,9.51,8,9.51c-2.026,0-1.969-1.968-1.969-1.968S6.187,5.573,8,5.573z M13.906,12.463c0,0.545-0.441,0.986-0.984,0.986H3.078\
                  c-0.544,0-0.984-0.441-0.984-0.986V7.542c0-0.544,0.44-0.984,0.984-0.984h1.125C4.12,6.874,4.063,7.2,4.063,7.542\
                  c0,2.176,1.764,3.938,3.938,3.938c2.175,0,3.938-1.762,3.938-3.938c0-0.342-0.059-0.668-0.141-0.984h1.125\
                  c0.543,0,0.984,0.439,0.984,0.984V12.463z')

              .control-text
                | Instagran
          li
            a.btn-share--dropdown-link(href='#')
              .control-icon 
                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='24px', height='24px', viewbox='0 0 16 16', enable-background='new 0 0 16 16', xml:space='preserve')
                  defs
                  path.flickr(fill='#404040', d='M0,0v16h16V0H0z M5.861,9.944c-1.074,0-1.944-0.87-1.944-1.944s0.87-1.944,1.944-1.944S7.807,6.926,7.807,8\
                  S6.936,9.944,5.861,9.944z M10.307,9.944c-1.074,0-1.945-0.87-1.945-1.944s0.871-1.944,1.945-1.944c1.073,0,1.943,0.87,1.943,1.944\
                  S11.38,9.944,10.307,9.944z')
              .control-text
                | Flickr
          li
            a.btn-share--dropdown-link(href='#')
              .control-icon 
                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='24px', height='24px', viewbox='0 0 16 16', enable-background='new 0 0 16 16', xml:space='preserve')
                  defs
                  rect.youtube(fill='#404040', width='16', height='16')
                  polygon(fill='#FFFFFF', points='6.653,3.139 11.515,8 6.653,12.861 ')

              .control-text
                | Youtube
          li.divider(role='separator')
          li
            a(href='#') Curta essa página

    .box-search.hidden-xs
      input(type="text" name="procurar" placeholder="Buscar no site...")
      button.btn-search--orange(href="#" title="Buscar")
        span.glyphicon.glyphicon-search


    .logo.hidden-xs
      a(href="#" title="Página incial")
        img(src="img/logo.png" alt="Logo Jovem Senador")
.navbar.nav-jovemsenador
  .container
    .logo-xs.visible-xs
      a(href="#" title="Página incial")
        img(src="img/logo-xs.png" alt="Logo Jovem Senador")

    .navbar-header
      .visible-xs
        button.navbar-toggle.collapsed.btn.btn-info(type='button', data-toggle='collapse', data-target='#search-responsive', aria-expanded='false', aria-controls='search-responsive')
          span.sr-only Toggle search
          span.glyphicon.glyphicon-search

      button.navbar-toggle.collapsed.btn.btn-info(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.glyphicon.glyphicon-menu-hamburger
      a.navbar-brand.visible-lg(href='#') 2016
      a.navbar-brand--responsive.hidden-lg(href="#")
        span 2016
        |  Participação política: no parlamento, nas ruas e nas redes sociais
      a.navbar-brand--responsive-only-moblie.gamma.visible-xs
        |  2016
    a.navbar-brand--responsive-only-moblie.pluton.visible-xs
      |  Participação política: no parlamento, nas ruas e nas redes sociais



    .visible-xs
      #search-responsive.navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            .box-search
              input(type="text" name="procurar" placeholder="Buscar no site...")
              button.btn-search--orange(href="#" title="Buscar")
                span.glyphicon.glyphicon-search


    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        li.active
          a(href='#') Quem somos
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | Como participar
            span.caret
          ul.dropdown-menu
            li
              a(href='#') Action
            li
              a(href='#') Another action
            li
              a(href='#') Something else here
        li
          a(href='#') Sobre a Redação
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | Vencedores
            span.caret
          ul.dropdown-menu
            li
              a(href='#') Action
            li
              a(href='#') Another action
            li
              a(href='#') Something else here
        li
          a(href='#') Professores
        li
          a(href='#') Atividade Legislativa
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | Divulgação
            span.caret
          ul.dropdown-menu
            li
              a(href='#') Action
            li
              a(href='#') Another action
            li
              a(href='#') Something else here
